$hero-color: linear-gradient(-0.125turn, dodgerblue, lightgreen);

$white: #fff;
$gray200: rgb(182, 182, 182);
$gray400: rgb(117, 132, 146);

// Input for Adding new Items
$no-focus-color: #acd5ff;
$focus-color: #43a1ff;

// Suggestions Colors
$green200: rgb(215, 255, 227);
$green800: rgb(35, 114, 65);

$purple200: rgb(230, 208, 255);
$purple800: rgb(71, 10, 141);

$blue200: rgb(215, 231, 255);
$blue800: rgb(51, 108, 192);
